<% include ../header %>
    <header>
        <h1>Ntalk</h1>
    </header>
    <section>
        <p>Bem vindo, <%- usuario.nome %></p>
    </section>
    <% include ../exit %>
    <% include ../footer %>
<% include ../footer %>
