<% include ../header %>
<header>
    <h2>Ntalk - Editar Contato</h2>
</header>
<section>
    <form action="/contato/<%- id %>?_method=delete"
          method="post" >
        <p><label>Nome:</label><%- contato.nome %></p>
        <p><label>E-mail:</label><%- contato.email %></p>
        <button type="submit">Excluir</button>
        <a href="/contato/<%- id %>/editar" >Editar</a>
    </form>
</section>
<% include ../exit %>
<% include ../footer %>