<% include header %>
<header>
  <h1>Ntalk</h1>
  <h4>Aconteceu algo terrível! :(</h4>
</header>
<p>Veja detalhes do erro:</p>
<br>
<p><%- error.message %></p>
<hr>
<p>Que tal voltar <a href="">home page?</a> :)</p>
<% include footer %>